#loading-box
  .loading-left-bg
  .loading-right-bg
  .spinner-box
    #loading
        svg(viewbox="0 0 100 20")
          defs
            linearGradient#gradient(
              x1="0"
              x2="0"
              y1="0"
              y2="1"
            )
              stop(offset="5%" stop-color="#326384")
              stop(offset="95%" stop-color="#123752")
            pattern#wave(
              height="20"
              patternUnits="userSpaceOnUse"
              width="120"
              x="0"
              y="0"
            )
              path#wavePath(
                d="M-40 9 Q-30 7 -20 9 T0 9 T20 9 T40 9 T60 9 T80 9 T100 9 T120 9 V20 H-40z"
                fill="url(#gradient)"
                mask="url(#mask)"
              )
                animateTransform(
                  attributeName="transform"
                  begin="0s"
                  dur="1.5s"
                  from="0,0"
                  repeatCount="indefinite"
                  to="40,0"
                  type="translate"
                )
          text(
            fill-opacity="0.9"
            fill="url(#wave)"
            font-size="17"
            text-anchor="middle"
            x="50"
            y="15"
          ) LOADING
          text(
            fill-opacity="0.1"
            fill="url(#gradient)"
            font-size="17"
            text-anchor="middle"
            x="50"
            y="15"
          ) LOADING

script.
  (()=>{
    const $loadingBox = document.getElementById('loading-box')
    const $spinnerBox = document.getElementsByClassName('spinner-box')[0]
    const $body = document.body
    const preloader = {
      endLoading: () => {
        $body.style.overflow = ''
        $loadingBox.classList.add('loaded')
      },
      initLoading: () => {
        $body.style.overflow = 'hidden'
        $loadingBox.classList.remove('loaded')
      }
    }

    preloader.initLoading()
    // 等待加载
    setTimeout(()=>{
        preloader.endLoading()
    }, 3000)


    if (!{theme.pjax && theme.pjax.enable}) {
      document.addEventListener('pjax:send', () => { preloader.initLoading() })
      document.addEventListener('pjax:complete', () => { preloader.endLoading() })
    }
  })()